.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.datawrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.datawrapper > * {
  margin: 5%;
}

.main_title {
  margin-bottom: 3%;
}

.sub_wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.data_vis_wrapper {
  width: 70%;
}

ul {
  margin-top: 40;
}

li {
  list-style-type: none;
}

li:before {
  content: "📈";
  margin-right: 3%;
}
